@import './vars.css';
@import './reset.css';
@import './nav.css';

body {
  font-family: var(--font-sans);
  background-color: var(--color-bg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--color-text);
}

main {
  padding: 1rem;
}
